.movies-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movies-section {
  /* width: 90%; */
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  max-width: 15%;
  border-radius: 2%;
  box-shadow: 5px 5px lightgray;
  margin: 1em;
}

.movie-image {
  max-height: 22em;
  overflow: hidden;
}

.movie-image img {
  max-width: 100%;
}

.movie-info {
  word-wrap: break-word;
  padding-left: 0.5em;
  align-items: center;
}

.movie-info h3 {
  text-align: center;
  text-indent: 5px;
}

.movie-info p {
  line-height: 0.5;
}

.movies-search {
  margin: 0 auto;
}

.search-form input {
  border: none;
  box-shadow: none;
  padding: 10px 20px 10px 20px;
  margin: none;
  border: solid gray 2px;
}

.search-form input:focus {
  border: solid blueviolet 2px;
  outline: none;
}

.search-form button {
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5%;
  margin: none;
  font-size: 16px;
  background-color: blueviolet;
  color: white;
}

.search-form button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .movie {
    max-width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .movie {
    max-width: 80%;
  }
}
